.App {
  text-align: center;
}

header {
  background-color: #F8F9F9 ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
}

.csv-reader-input {
  padding: 5px 7px;
  color: white;
  background-color: #2ECC71;
  font-size: 16px;
}

.work-space {
  display: flex;
  flex-direction: column;
}

table {
  margin: 20px auto;
  max-width: 1400px;
  border-collapse: collapse;
}

th {
  padding: 5px;
  border: 1px solid black;
}
td {
  padding: 5px;
  border: 1px solid black;
}

.red {
  background-color: #F5B7B1;
}

.error {
  display: flex;
  margin: 20px auto;
  padding: 0 20px;
  border: 1px solid #E74C3C;
  background-color: #FADBD8;
  font-size: 16px;
}

